py-tgcalls==2.2.11
ntgcalls
pytubefix
kurigram
asyncpg
tgcrypto
aiohttp
aiofiles
isodate
psutil
python-dotenv
ffmpeg-python
yt-dlp
py-yt-search
spotipy
beautifulsoup4
lxml
Pillow
pyyml
PyYAML
static-ffmpeg
